@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 27, 27, 27;
    --background-end-rgb: 27, 27, 27;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  cursor: none;
  background: radial-gradient(50% 50% at 50% 50%, #4c2471 15.5%, #0d0316 100%);
}

body * {
  cursor: none !important;
}